*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(0, 0, 33);
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: black;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: red;
}

.left{
    font-size: 2rem;

}
.first{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}
.first > div{
    width: 30%;
    /* background-color: red; */
}
.leftsection{
    /* background-color: red; */
    font-size: 3rem;
    /* margin: 70px 0; */
    
}
 .rightsection img{
    /* background-color: red; */
    width: 80%;
    /* margin: 50px 0; */
}
.purple{
    color: blueviolet;
    opacity: 1;
} 
#element{
    color: blueviolet;
    opacity: 1;
}
.firstsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondsection{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}
.secondsection h1{
    font-size: 2rem;
}
.image-top{
    width: 40px;
    
}
.secondsection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondsection .vertical
{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
.vertical-text{
    position: relative;
    top: 70px;
    width: 150px;
}
.vertical-desc{
    position: relative;
    top: 80px;
    color: gray;
    width: 150px;
    font-size: 9px;
}
#client-section{

    height: 344px;
}

#client-section::before{

    content: "";
    position: absolute;
  

}
.center{
    text-align: center;
}
.prim{
    font-size: 2.4rem;
    padding: 12px;
    justify-content: center;
    text-align: center;
    color: white

}
#services{
    margin: 34px;
    display: flex;

}
.box{
    text-align: center;
}
#services .box{
    text-align: center;
    border: 2px solid red;
    padding: 34px;
    margin: 3px 150px;
    border-radius: 23px;
    background-color: black
      
}
#services .box img{
    height: 150px;
    margin: auto;
    display: block;
}
.third-section
{
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.third-section p a{
    text-decoration: none;
    color: gray;
    

}


